<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.AndroidExample"
        tools:targetApi="31"
        android:usesCleartextTraffic="true"
        >
        <activity
            android:name=".SignupActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Signup screen -->
        <activity android:name=".HomeActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".LoginActivity"/>
        <activity android:name=".CalendarActivity" />
        <activity android:name=".DayViewActivity"/>
        <activity android:name=".SuggestionsActivity" android:exported="true" />
        <activity android:name=".RequestsActivity" android:exported="true" />
        <activity android:name=".TaskManagerActivity"
            android:exported="true"/>
        <activity android:name=".PackingChecklistActivity"
            android:exported="true"/>
        <activity android:name=".CurrencyConverterActivity"/>
        <activity android:name=".FriendsListActivity" android:exported="true" />
        <activity android:name=".FriendProfileActivity" />
        <activity android:name=".TripChatActivity"/>
        <activity android:name=".DirectChatActivity"/>
        <activity android:name=".NotificationsActivity" android:exported="true" />
        <activity android:name=".BudgetListActivity" android:exported="true" />
        <activity android:name=".CreateBudgetActivity" android:exported="true" />
        <activity android:name=".BudgetDetailActivity" android:exported="true" />

    </application>

</manifest>